<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form exercise</title>
</head>

<body>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div ngModelGroup="userData">
          <div class="form-group">
            <label for="">Username</label>
            <input type="text" ngModel class="form-control" name="username" id="" aria-describedby="helpId"
              placeholder="">
          </div>
          <button class="btn btn-light" (click)="suggestName()">Suggest an name</button>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" id="" 
            placeholder="" email required ngModel #email="ngModel">
            <span *ngIf="email.invalid && email.touched">Please correct email!</span>
          </div>
          <div class="form-group">
            <label for="">Subscriptions</label>
            <select class="form-control" name="subscription" id="" ngModel>
              <option value="basic">Basic</option>
              <option value="advance">Advance</option>
              <option value="pro">Pro</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Reply</label>
            <textarea class="form-control" name="reply" id="" rows="3" [(ngModel)]="userReply"></textarea>
            <p>Your reply: {{userReply}}</p>
          </div>
          <div class="form-check" *ngFor="let gender of genders; let i = index">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="gender" id=""  ngModel [value]="gender">
              {{gender}}
            </label>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" id="" placeholder="" required ngModel>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
        </div>
        <div class="form-group" *ngIf="isSubmitted">
          <p>Your data:</p>
          <p>{{user.username}}</p>
          <p>{{user.email}}</p>
          <p>{{user.subscription}}</p>
          <p>{{user.password}}</p>
          <p>{{user.gender}}</p>
        </div>
      </div>

    </div>
  </form>
</body>

</html>